<section class="new-training" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field *ngIf="!isLoading && exercises">
        <mat-select placeholder="Workouts" ngModel name="exercise" required>
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
            {{ exercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </mat-card-content>
    <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
      <button *ngIf="exercises" mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Start</button>
      <button *ngIf="!exercises" mat-raised-button color="primary" type="button" (click)="fetchExercisesAgain()">Fetch again</button>
    </mat-card-actions>
  </mat-card>
  </form>

</section>