<section class="signup-from">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email.."
        ngModel
        name="email"
        required
        email
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must be not empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 character long.">
      <input
        type="password"
        matInput
        placeholder="Your password.."
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        ngModel
        required
        name="birthday"
        palceholder="Your birthday"
        [matDatepicker]="birthdayPicker"
        [max]="maxDate"
        >
      <mat-datepicker-toggle
        matSuffix
        [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox
      name="agree"
      ngModel
      required
      color="primary"
      >Agree to Terms and Conditions.</mat-checkbox>

    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>